:root{
    --alto: #e0e0e0;
    --white: #ffffff;
    --silver-chalice: #aeaeae;
    --french-pass: #b3e5fc;
    --glacier: #82b3c9;
    --hoki: #668b9c;
    --alabaster: #f7f7f7;
    --silver: #bbbbbb;
}

/* ___________________________________________________________  */

html, 
body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}::-webkit-scrollbar{
    width: 0px;
    background-color: transparent;
}

body{
    min-height: 100%;
    background-color: var(--white);
}

/* ___________________ Header ___________________*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: auto;
    padding: 15px;
    
    background-color: var(--alto);
    border-bottom: 2px solid var(--silver-chalice);
}

header img{
    width: 40px;
    height: auto;
}

/* ___________________ Buttons ___________________*/

input[type=submit], a, .ordenar, .range_box, .modal{
    padding: 8px;
    border: 2px solid var(--french-pass);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;

    text-decoration: none;
    color: black;
    
    outline: none;
    box-shadow: 5px 5px var(--glacier);
    background-color: var(--white);
    
    transition: 0.1s;
    cursor: pointer;

    font-size: 14px;
    margin: 5px;
}

input[type=submit]:active, a:active{
    box-shadow: 1px 1px var(--hoki);
    transform: translate3d(4px, 4px, 0);
}

input[type=submit]:hover, a:hover{
    background-color: var(--alabaster);
}

input[type=submit]:disabled{
    background-color: var(--silver);
    opacity: 60%;
}

.modal-bg{
    background-color: #82b2c941;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: zoom 1s;
}

@keyframes zoom{
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.modal input[type="email"], input[type="password"], input[type="text"]{
    padding: 5px;
    font-size: 24px;
    border: 1px solid var(--hoki);
    border-radius: 6px;
    margin: 5px;
    width: 80%;
}

.modal .inputs-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}