:root{
    --alto: #e0e0e0;
    --white: #ffffff;
    --silver-chalice: #aeaeae;
    --french-pass: #b3e5fc;
    --glacier: #82b3c9;
    --hoki: #668b9c;
    --alabaster: #f7f7f7;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
    padding-top: 30px;
}


.produtos{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100%;
    padding-bottom: 30px;
}

.produto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
    
    width: 300px;
    height: 200px;
    margin-top: 30px;
    
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 2px solid var(--french-pass);
    
    background-color: var(--white);
    box-shadow: 5px 5px var(--glacier);
}

.produto img{
    width: 45%;
    height: auto;
    max-height: 139px;
    
    border: 2px solid transparent;
    border-radius: 50%;
}

.produto a{
    margin-top: auto;
    margin-bottom: 10px;
}

.desc-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-produto span{
    margin: auto;
    margin-top: 10px;
}
