html, 
body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}::-webkit-scrollbar{
    width: 0px;
    background-color: transparent;
}

body{
    min-height: 100%;
    background-color: #ffffff;
}

header{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 15px;
    border-bottom: 2px solid #aeaeae;
}

header a:first-child{
    margin-left: 0px;
    margin-right: auto;
}

header a{
    margin-left: auto;
    margin-right: 0px;
}

header img{
    width: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categorias{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    justify-content: space-evenly;
}


.produtos{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.produto{
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 2px solid #b3e5fc;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 5px 5px #82b3c9;
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center; 
}

.produto img{
    border: 2px solid transparent;
    border-radius: 50%;
    width: 45%;
    height: auto;
    max-height: 139px;
}

.produto a{
    margin-top: auto;
    margin-bottom: 10px;
}

.desc-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-produto span{
    margin: auto;
    margin-top: 10px;
}

a{
    padding: 8px;
    border: 2px solid #b3e5fc;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px #82b3c9;
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

a:active{
    box-shadow: 1px 1px #668b9c;
    transform: translate3d(4px, 4px, 0);
}

a:hover{
    background-color: #f7f7f7;
}