<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/standard.css">
    <link rel="stylesheet" href="style/shop.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="img/pokeball.png">
    <title>Pokebuy</title>
</head>

<body id="index">
    <header id="nav-bar">
        <a href="/">Inicio</a>
        <img src="img/pokeball.png" alt="">
        <div id="containerbtns">
            <a id="entrar">Entrar</a>
            <a href="/carrinho">Carrinho</a>
        </div>
    </header>
    <div class="filtros">
        <div class="categorias">
            <a>Todos</a>
            <a>Agua</a>
            <a>Fogo</a>
            <a>Grama</a>
            <a>Inseto</a>
        </div>
        <div class="precos">
            <div class="ordenar">
                <label for="ordernar-por">Ordernar por:</label>
                <select id="ordernar_por">
                    <option value="nenhum" selected="selected">Nenhum</option>
                    <option value="menor">Menor Preço</option>
                    <option value="maior">Maior Preço</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="produtos" id="produtos"></div>
    </div>
</body>
<script src="js/render.js"></script>
<script src="js/loja.js"></script>
<script src="js/main.js"></script>
<script src="js/requests.js"></script>
</html>